.loginButton {
    border: 0px;
    background: #5E7DFC;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    margin: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    letter-spacing: 3px;
}