.App {
  text-align: center;
  background-color: #FFFFFF;
}

.header {
  text-align: center;
  color: #5E7DFC;
  font-weight: bold;
  font-size: 34pt;
  padding-top: 30%;
  padding-bottom: 30pt;
}

.content {
  vertical-align: center;
  display: inline-block;
}

input:focus {
  outline: none;
}

.loginButton {
  border: 0px;
  background: #5E7DFC;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  margin: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 60px;
  padding-left: 60px;
  letter-spacing: 3px;
}